<%- include("template/cabecera", {tituloweb: 'pagina de estudios'}) %>
<div class="border border-dark bg-lingth  p-5 mt-5 ml-5 mr-5  float-right" id="estilos" >

<h1>estudios</h1>
<p>• OTROS ESTUDIOS: ingles B2 sena
    Fecha de Inicio: 04-20-2019 Fecha de finalización:</p>
<p>• ESTUDIOS TÉCNICOS O TÉCNOLÓGICOS: tecnico en el sena 
    Año de Inicio: 03-19-2020 Año de finalización: 11-29-2021.</p>
    <!-- <p>Año de Inicio: 03-19-2020 </p>
    <p>hasta Año de finalización: 11-29-2021.</p> -->
<p>• ESTUDIOS SECUNDARIOS: Alberto Lleras Camargo  I.E.D
    Año de Inicio: 02-10-2016 Año de finalización: 11-30-2021</p>
<p>• ESTUDIOS PRIMARIOS: Alberto Lleras Camargo  I.E.D
    Año de Inicio: 02-09-2008 hasta Año de finalización: 11-28-2015</p>
</div>
<%- include("template/footer") %>