<%- include("template/cabecera", {tituloweb: 'pagina de inicio'}) %>
<div class="border border-dark bg-lingth p-5 mt-5 ml-5 mr-5  float-right" id="estilos" >
 <h1 class="text-dark  " id="titulo">informacion detallada </h1> 
 <p>• NOMBRE: Gabriel Steven Morales Rivera</p> 
 <p>• DOCUMENTO IDENTIDAD: 1007652283</p>
 <p>• FECHA DE NACIMIENTO: 09-24-2002</p>
 <p>• ESTADO CIVIL: Soltero</p>
 <p>• DIRECCIÓN:Carrera 108#139-45 Barrio las flores.</p>
 <p>• TELÉFONO: 3118463868</p>
 <p>• E-MAIL: gsmorales38@misena.edu.co </p>
</div>


 <%- include("template/footer") %>
 
       