<%- include("template/cabecera", {tituloweb: 'referecias familiares'}) %>


<div class="border border-dark bg-lingth p-5 mt-5 ml-5 mr-5  float-right" id="estilos">
    <h1 class="text-center">referecias familiares</h1> 

    <p>• Nombre: Gabriel Fernado Morales Moreno</p>
    <p>• Cargo: Tecnico en sistemas de segurida</p>
    <p>• Empresa: independiente</p>
    <p>• Telefono: 3124512504</p>
   </div>




<%- include("template/footer") %>