<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hoja de vida-<%=tituloweb %></title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
     
 <%- include("nav") %>
 <div class="border border-dark bg-lingth p-5 mt-5 ml-5 mr-5  float-center" style="width: 1300px ; height: 200px;">
 <h1 class="text-center">gabriel stiven morales rivera</h1>
 <h2 class="text-center">tecnico el analisis y programacion de sistemas de sofware</h2>
</div>
 <img src="./foto_hoja_de_vida.jpeg" class="p-2 mt-5 ml-5 " style="float:left; width: 500px ; height: 410px;">
